.container{
		height: 100%;
		width: 100%;
	}
	
	.header{
		height: 20%;
		width: 100%;
	}

.font_size_2em{
font-size:2em;
}
	
	.content{
		height: 80%;
		width: 100%;
	}
	
	.alllinks{
		height: 100%;
		width: 30%;
		margin: 0;
		padding: 0;
		float: left;
	}
	
	.link{
		height:25%;
		
	}
	
	.label{
		text-align: center;
		padding-top:50px;
		padding-bottom: 50px;
	}
	
	.allcontent{
		height: 100%;
		width: 70%;
		margin: 0;
		padding: 0;
		float: right;
	}

	.link:nth-child(odd) {
		background: #4ab6cf;
	}
